<% var user,friend,friendStatus; %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>People</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav" style="position:fixed;">
        <% if(user){ %>
    <center>
      <img style="width:380px;height:220px;margin:10px;" src="<%= user.profileimage %>" alt="../../../uploads/noimage.png">
      <b><h3><%= user.name %></h3></b></center>
      
      <ul class="nav nav-pills nav-stacked" style="font-size:2.7vh;">
        <li ><a href="/login/<%= user.username %>/home">Home</a></li>
        <li class="active"><a href="/login/<%= user.username %>/people?name=<%= user.name %>&profileimage=<%= user.profileimage %>">People</a></li>
        <li><a href="/login/<%= user.username %>/connect?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Connect Requests</a></li>
        <li><a href="/login/<%= user.username %>/connected?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Connected People</a></li>
        <li><a href="/login/<%= user.username %>/photos?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Photos</a></li>
        <li ><a href="/login/<%= user.username %>/addPost?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Add Post</a></li>
      
        <li><a style="color: red;font-weight: 900;" href="/login/<%= user.username %>/logout">Logout</a></li>
      </ul><br>
      <% } %>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <!-- add post section -->
    <div class="col-sm-9" style="margin-left:25%;font-size:3vh;">
      <h3><small>Profile of &nbsp;<%= friend.username %></small></h3>
      <hr>

     <div class="container-fluid" style="font-size: larger;font-weight: 500;color: darkblue;">
        <center>
        <% if(friend){ %>
        <div class="row">
        <div class="col-md-12 ">
            <img style="width:40%;height:50%;margin:5px;" src="<%= friend.profileimage %>">
        </div>
        </div>

        <div class="row" style="font-weight: 900;font-size:5vh;">
        <div class="col-md-12 ">
            <%= friend.name %>
        </div>
        </div>
      
        <div class="row" style="font-weight: 900;font-size:3vh;">
        <div class="col-md-12 ">
         @<%= friend.username %>
        </div>
        </div>
        <% } %>
        
       <!--  <form method="get" action="/login/<%= user.username %>/friend/<%= friend.username %>?name=<%= user.name %>&profileimage=<%= user.profileimage %>&friend=<%= friend.name %>&friendimage=<%= friend.profileimage %>"> -->
            <div class="row" style="font-weight:900;font-size:5vh;">
                <div class="col-md-12 ">
                <% if(friendStatus == 0){ %>
                <a href="/login/<%= user.username %>/friend/connect/<%= friend.username %>?name=<%= user.name %>&profileimage=<%= user.profileimage %>&friend=<%= friend.name %>&friendimage=<%= friend.profileimage %>">
                  <button  class="btn btn-primary">
                      <b id="request">Connect Request</b>
                  </button>
                </a>
                <% } %>
                <% if(friendStatus == 1) { %>
               <a href="/login/<%= user.username %>/friend/delete/<%= friend.username %>?name=<%= user.name %>&profileimage=<%= user.profileimage %>&friend=<%= friend.name %>&friendimage=<%= friend.profileimage %>">
                  <button  class="btn btn-primary">
                     <b id="request">Cancel Request</b>
                 </button>
               </a>
               <% } %>
               <% if(friendStatus == 2) { %>
                <a href="/login/<%= user.username %>/friend/disconnect/<%= friend.username %>?name=<%= user.name %>&profileimage=<%= user.profileimage %>&friend=<%= friend.name %>&friendimage=<%= friend.profileimage %>">
                   <button  class="btn btn-primary">
                      <b id="request">Disconnect</b>
                  </button>
                </a>
                <% } %>
                </div>
            </div>
        <!-- </form> -->
    </center>
    </div>
  <hr>
             
    </div>
  </div>
</div>

</body>
</html>
