<% var user,post,friendData,reaction; %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    .btn-color{
      color: indigo;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav" style="position:fixed;">
      <% if(user){ %>
    <center>
      <img style="width:380px;height:220px;margin:10px;" src="<%= user.profileimage %>" alt="../../../uploads/noimage.png">
      <b><h3><%= user.name %></h3></b></center>
      <ul class="nav nav-pills nav-stacked" style="font-size:2.7vh;">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/login/<%= user.username %>/people?name=<%= user.name %>&profileimage=<%= user.profileimage %>">People</a></li>
        <li><a href="/login/<%= user.username %>/connect?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Connect Requests</a></li>
        <li><a href="/login/<%= user.username %>/connected?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Connected People</a></li>
        <li><a href="/login/<%= user.username %>/photos?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Photos</a></li>
        <li><a href="/login/<%= user.username %>/addPost?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Add Post</a></li>
        
        <li><a style="color: red;font-weight: 900;" href="/login/<%= user.username %>/logout">Logout</a></li>
      </ul><br>
      <% } %>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9" style="margin-left:25%;font-size:large;"><!-- body -->
         <div style="font-size:xx-large;margin-left:36%;position:relative;">Recent Posts</div>
         <% if(post){ %>
          <% for(var i=0;i<post.length;i++){ %>
            <% for(var j=0;j<post[i].feed.length;j++){ %>
         <div><!-- posts -->
            <div class="row">
                <div class="col-sm-1"><img style="width:100px;height:100px;" src="<%= friendData[i].profileimage %>"></div>
                  <div class="col-sm-4" style="margin-left:2%;">
                  <div class="row" style="font-weight: 900;" ><%= friendData[i].name %>&nbsp;(@<%= post[i].postedby %>)</div>
                  <div class="row"><%= post[i].feed[j].postdate %></div>
                </div>
            </div>
          
            <div class="row">
              <div class="col-sm-6" style="margin-left:22%" >
                <div class="col-sm-12" >
                  <div style="font-weight: 900;" class="row"><%= post[i].feed[j].title %></div>
                  <div class="row" ><%= post[i].feed[j].text %></div>
                </div>
                <img style="width:550px;height:350px;margin: 1%;" src="<%= post[i].feed[j].postimage %>">
              </div>
            </div>
          
            <div class="row">
              <div style="margin-left:24%">

                   <% if(reaction[i][j] == null) { %> <!-- null case -->
                   <a href="">
                   <button style="font-weight:900;width:15%;margin-right:5%;" class="col-sm-3">
                     <%= post[i].feed[j].riseup %>0&nbsp;(Riseups)
                    </button>
                    </a>
                    <a href="">
                    <button style="font-weight: 900;width:15%;margin-right:5%;" class="col-sm-3">
                      <%= post[i].feed[j].falldown %>0&nbsp;(Falldowns)
                    </button>
                    </a>
                    <% } %><!-- null case -->

                    <% if(reaction[i][j] != null) { %> <!-- not null case -->
                    <a href="/login/:id/riseup?name=<%= user.name %>&profileimage=<%= user.profileimage %>">
                      <button style="font-weight:900;width:15%;margin-right:5%;" class="col-sm-3
                      <% if(reaction[i][j] == true) { %>
                      <%= btn-color %>
                      <% } %>
                      ">
                        <%if(post[i].feed[j].riseup ==  null){ %>
                        <%= 0 %>
                        <% } else {%>
                        <%= post[i].feed[j].riseup %>
                        <% } %>
                        &nbsp;(Riseups)
                       </button>
                       </a>
                    <a href="/login/:id/falldown?name=<%= user.name %>&profileimage=<%= user.profileimage %>">
                      <button style="font-weight: 900;width:15%;margin-right:5%;" class="col-sm-3 
                      <% if(reaction[i][j] == false) { %>
                      <%= btn-color %>
                      <% } %>
                       ">
                        <%if(post[i].feed[j].falldown ==  null){ %>
                          <%= 0 %>
                          <% } else {%>
                          <%= post[i].feed[j].falldown %>
                          <% } %>
                        &nbsp;(Falldowns)
                      </button>
                      </a>
                      <% } %> <!-- not null case -->
                      
                    <a href="/login/:id/share?name=<%= user.name %>&profileimage=<%= user.profileimage %>">
                    <button style="font-weight: 900;width:15%;" class="col-sm-2">
                      Share
                    </button>
                    </a>
              </div>
            </div>

            <div class="row" style="border-bottom:2px solid dimgray;margin:2%;">
              <div class="col-sm-9">comment</div>
            </div>
        </div><!-- posts -->
             <% } %>
           <% } %>
        <% } %>
    </div><!-- body -->
     
</body>
</html>
