<% var user,post,photoStatus; %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Photos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav" style="position:fixed;">
        <% if(user){ %>
    <center>
      <img style="width:380px;height:220px;margin:10px;" src="<%= user.profileimage %>" alt="../../../uploads/noimage.png">
      <b><h3><%= user.name %></h3></b></center>
      
      <ul class="nav nav-pills nav-stacked" style="font-size:2.7vh;">
        <li ><a href="/login/<%= user.username %>/home">Home</a></li>
        <li><a href="/login/<%= user.username %>/people?name=<%= user.name %>&profileimage=<%= user.profileimage %>">People</a></li>
        <li><a href="/login/<%= user.username %>/connect?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Connect Requests</a></li>
        <li><a href="/login/<%= user.username %>/connected?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Connected People</a></li>
        <li class="active"><a href="/login/<%= user.username %>/photos?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Photos</a></li>
        <li ><a href="/login/<%= user.username %>/addPost?name=<%= user.name %>&profileimage=<%= user.profileimage %>">Add Post</a></li>
       
        <li><a style="color: red;font-weight: 900;" href="/login/<%= user.username %>/logout">Logout</a></li>
      </ul><br>
      <% } %>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <!-- add post section -->
    <div class="col-sm-9" style="margin-left:25%;">
      <h3 style="font-weight: 900;">Your Uploaded Photos</h3>
      <hr>
      <div style="font-size: larger;color: chartreuse;font-weight: 900;">
        <% if(photoStatus){ %>
           <%= photoStatus %>
         <% } %>
         <hr>
     </div>
      <!-- photos section -->
      <!-- Container -->
<div class="container">
  <!-- Projects Row -->
  <div class="row">
    <% if(post) { %>
    <% for(var i=0;i<post.feed.length;i++){ %>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img style="width:400px;height:300px;" class="img-responsive" src="<%= post.feed[i].postimage %>">
      </a>
      <center>
      <h3>Title : <%= post.feed[i].title %></h3>
    </center>
    </div>
    <% } %>
    <% } %>
  </div>
  <!-- /.row -->
  <hr>
  <!-- /.row -->
  <hr>
</div>
<!-- /.container -->

      <!-- photos section -->
    </div>
  </div>
</div>

<!-- <footer class="container-fluid" style="z-index: 100;">
  <p>Footer Text</p>
</footer> -->

</body>
</html>
